{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% block title %}{% trans 'AAI Learning Management System - Login' %}{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<style>
  .login-background {
    background-image: url('/media/EmpClass.jpg'); /* Ensure this path points to your actual background image */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-card {
    background: rgba(255, 255, 255, 0.9); /* Slightly transparent white */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    width: 100%;
  }

  .form-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }

  .login-bottom {
    text-align: center;
    margin-top: 15px;
  }

  @media (max-width: 576px) {
    .login-card {
      padding: 20px;
    }
  }
</style>

<div class="login-background">
  <div class="col-md-4 mx-auto">
    <div class="card login-card">
      <div class="form-title">
        <i class="fas fa-lock me-2"></i>
        {% trans 'Sign in' %}
      </div>
      <div class="card-body">
        <form action="" method="POST" id="login-form">{% csrf_token %}
          <div class="form-group mb-3">
            <label class="mb-2" for="username_id"><i class="fas fa-address-card me-2"></i>{% trans 'ID Number' %}</label>
            <input type="text" name="username" id="username_id" class="form-control" required>
            <div id="message-wrapper"></div>
          </div>
          <div class="form-group mb-3">
            <label class="mb-2" for="password_id"><i class="fas fa-key me-2"></i>{% trans 'Password' %}</label>
            <input type="password" name="password" id="password_id" class="form-control" required>
          </div>
          {% if form.errors %}
            <span class="text-danger"><i class="fas fa-exclamation-circle"></i> {% trans 'Invalid ID & Password.' %}</span><br>
          {% endif %}

          <button type="submit" class="btn btn-primary w-100" id="login-btn">
            <i class="fas fa-sign-in-alt"></i> <small>{% trans 'SIGN IN' %}</small>
          </button>
        </form>

        <div class="login-bottom mt-3">
          <a href="{% url 'password_reset' %}" class="link">{% trans 'Forgot password ?' %}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script>
  $('#login-form').submit(function (e) {
    // e.preventDefault();
    $('#login-btn').addClass('disabled');
    $('#login-btn').html(`<i class="fas fa-sign-in-alt"></i> Signing you in . . .`);
  });

  $("#username_id").on("input", function () {
    const username = $(this).val();

    $.ajax({
      url: "/accounts/ajax/validate-username/",
      data: { username: username },
      dataType: 'json',
      success: function (data) {
        
      }
    });
  });
</script>
{% endblock %}
